
/*CSS ARchitecture = SMACSS*/

/***************************
    BASE
****************************/

body{
	background-color: white;
	color: black;
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-size: 18px;
}

header{
    grid-column: 1/2;
}

header a, nav a{
    text-decoration: none;
    color: black;
}

header a{
    display: block;
    position: relative;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 38px;
    margin: 0px;
}

aside{
    font-style: italic;
    grid-column: 2/4;
    font-size: 24px;

    padding-top: 205px;
}

aside ul{
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

aside li{
    list-style: none;
}

main{
    grid-column: 1/4;
    margin: 30px 0px;
}

footer{
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    grid-column: 1/2;
    margin-bottom: 20px;
}

nav{
    grid-column: 2/4;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;

    margin-left: 20px;
    
}

nav a{
    padding: 2px 5px;
}

/***************************
    LAYOUT
****************************/


.container{
    margin: 0 auto;
    margin-top: 20px;
	width: 85%;
    max-width: 960px;
    
}

.top-bar{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-bottom: 50px;
    border-bottom: 5px solid black;
}

.f-layout{
    display: flex;
    grid-column: 1/4;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}
/***************************
    MODULES
****************************/
.nav-wrapper{
    margin-top: 40px;
}

.sub-header{
    margin-left: 30px;
}

.article-wrapper{
    padding: 20px 0px;
    border-bottom: 1px solid darkslategrey;
}

.vertical-text {
	margin-top: -110px;
    margin-left: 70px;
    text-align: center;
}

.vertical-text div:nth-child(1){
    margin-bottom: 40px;
}

.img-shadow{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
/***************************
    STATE
****************************/


.is-current{
    border-top: 2px solid black;
}

.sub-header:hover .red-hover{
    color: red;
}

.sub-header:hover .green-hover{
    color: green;
}

/***************************
    THEME
****************************/

.russo{
    font-family: 'Russo One', sans-serif;
}

.green{
    color: green;
}

.red{
    color: red;
}

.nav-wrapper li{
    font-weight: bold;
}

.text-shadow-green{
    font-family: 'Russo One', sans-serif;
    font-size: 38px;

    color: transparent;
    background: green;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.text-shadow-red{
    font-family: 'Russo One', sans-serif;
    font-size: 38px;

    color: transparent;
    background: red;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
