
/*
CSS Architecture = SMACSS
The CSS normalize is in a separate file
*/

/***************************
    BASE
****************************/

body{
	background-color: white;
	color: black;
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-size: 18px;
}

header{
    grid-column: 1/2;
}

header a, nav a{
    text-decoration: none;
    color: black;
}

header a{
    display: block;
    position: relative;
}

h1{
    font-size: 28px;
}

aside{
    font-style: italic;
    grid-column: 2/4;
    font-size: 24px;

    padding-top: 205px;
}

aside ul{
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

aside li{
    list-style: none;
}

main{
    grid-column: 1/4;
    margin: 30px 0px;
}

footer{
    font-family: 'Open Sans Condensed',  Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    grid-column: 1/2;
    margin-bottom: 20px;
}

nav{
    grid-column: 2/4;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;

    margin-left: 20px;
    
}

nav a{
    padding: 2px 5px;
}

/***************************
    LAYOUT
****************************/


.container{
    margin: 0 auto;
    margin-top: 20px;
	width: 85%;
    max-width: 960px;
    
}

.top-bar{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-bottom: 50px;
    border-bottom: 5px solid black;
}

.f-layout{
    display: flex;
    grid-column: 1/4;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
}

.article-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-column-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/***************************
    MODULES
****************************/
.nav-wrapper{
    margin-top: 40px;
}

.sub-header{
    margin-left: 30px;
}

.sub-header h2{
    font-size: 38px;
    margin: 0px;
}

.article-wrapper{
    padding: 20px 0px;
    border-bottom: 1px solid darkslategrey;
}

.vertical-text {
	margin-top: -110px;
    margin-left: 70px;
    text-align: center;
}

.vertical-text div:nth-child(1){
    margin-bottom: 40px;
}

.img-shadow{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.slideshow-box{
    width: 100%;
    height: 300px;
    background-color: dimgrey;
    border: 5px solid black;
    text-align: center;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
	background:-moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
	background-color:#c123de;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}




/***************************
    STATE
****************************/


.is-current{
    border-top: 2px solid black;
}

.sub-header:hover .red-hover{
    color: red;
}

.sub-header:hover .green-hover{
    color: green;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
	background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
	background-color:#a20dbd;
}
.myButton:active {
	position:relative;
	top:1px;
}
/***************************
    THEME
****************************/

.russo{
    font-family: 'Russo One', sans-serif;
}

.green{
    color: green;
}

.red{
    color: red;
}

.purple{
    color: #a20dbd;
}

.nav-wrapper li{
    font-weight: bold;
}

.text-shadow-green{
    font-family: 'Russo One', sans-serif;
    font-size: 38px;

    color: transparent;
    background: green;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.text-shadow-red{
    font-family: 'Russo One', sans-serif;
    font-size: 38px;

    color: transparent;
    background: red;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.myButton{
    color:#ffffff;
	font-family: 'Russo One', sans-serif;
	font-size: 38px;
    text-align: center;
    height: 30%;
    margin-top: 50px;
    margin-left: 15px;
    padding: 40px;
}